<%- partial('_partial/header', { 
    title: '归档', 
    bgColor: 'bg-grey'
}) %>

<div class="main-content archive-page clearfix">
    <p style="padding-left: 15px;color: #313131"><%= __('archives.title', site.posts.length) %></p>
    <div class="categorys-item">
        <% if (page.posts.length !== 0) { %>
        <% var archivePosts = [];
            if (theme.archive === 'year') {
                archivePosts = yearArchivePosts(page.posts);
            } else {
                archivePosts = monthArchivePosts(page.posts);
            }
        %>
        <% archivePosts.forEach(function(item) { %>
        <div class="categorys-title"><%= item.title %></div>
        <div class="post-lists">
            <div class="post-lists-body">
                <% item.list.forEach(function(post) { %>
                <div class="post-list-item">
                    <div class="post-list-item-container">
                        <div class="item-label">
                            <div class="item-title">
                                <a href="<%- url_for(post.path) %>"><%= post.title %></a>
                            </div>
                            <div class="item-meta clearfix">
                                <div class="item-meta-date"><%= post.date.format('MMM DD, YYYY') %></div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
        <% }); %>
        <% } else { %>
        <p><%= __('archives.empty') %></p>
        <% } %>
    </div>
    <% if (page.total > 1) { %>
    <div class="lists-navigator clearfix">
    <%- partial('_partial/pagination') %>
    </div>
    <% } %>
</div>

<%- partial('_partial/footer') %>