<%- partial('_partial/header', { 
    title: page.title, 
    bgColor: 'bg-white'
}) %>

<% if (theme.showPostThumb) { %>
<% if (page.thumb) { %>
<div class="post-header-thumb">
	<div class="post-header-thumb-op" style="background-image:url(<%= getPostThumb(page, theme) %>);"></div>
	<div class="post-header-thumb-cover">
		<div class="post-header-thumb-container">
			<div class="post-header-thumb-title">
				<%= page.title %>
			</div>
			<div class="post-header-thumb-meta">
				<% if (theme.valine.enable && theme.valine.visitor) { %>
				<span id="<%- url_for(page.path) %>" class="leancloud-visitors" data-flag-title="<%= page.title %>">
					<span class="leancloud-visitors-count"></span> Views 
				</span>
				<% } %>
				<time datetime="<%= page.date.unix() %>" itemprop="datePublished">Published on <%- page.date.format('MMM DD, YYYY') %><% if (page.categories.length != 0) { %> in <% } %></time>
				<% page.categories.forEach(function(category, index) { %><a href="<%- url_for(category.path) %>"><%= category.name %><% if (index !== page.categories.length - 1) { %> / <% } %></a><% }); %>
				<% if (theme.valine.enable) { %>
				with <a id="page-title-comment" href="#vcomments"></a>
				<% } %>
			</div>
			<div class="post-header-thumb-meta" style="font-size: 13px;">
				<span class="post-count">本文字数：<%= wordcount(page.content) %> 字</span>
				<span>|</span>
				<span class="post-count">阅读时长 ≈ <%= min2read(page.content) %> min</span>
			</div>
			<div class="post-tags">
				<% if (page.tags.length != 0) { %>
				<% page.tags.forEach(function(tag){ %>
                <a href="<%- url_for(tag.path) %>"><%= tag.name %></a>
                <% }); %>
				<% } %>
			</div>
		</div>
	</div>
</div>
<% } else { %>
<div class="post-header-thumb">
	<div class="post-header-thumb-op" style="background-image:url(<%= getPostThumb(page, theme) %>);"></div>
	<div class="post-header-thumb-cover">
		<div class="post-header-thumb-container">
			<div class="post-header-thumb-title">
				<%= page.title %>
			</div>
			<div class="post-header-thumb-meta">
				<% if (theme.valine.enable && theme.valine.visitor) { %>
				<span id="<%- url_for(page.path) %>" class="leancloud-visitors" data-flag-title="<%= page.title %>">
					<span class="leancloud-visitors-count">0</span> Views 
				</span>
				<% } %>
				<time datetime="<%= page.date.unix() %>" itemprop="datePublished">Published on <%= page.date.format('MMM DD, YYYY') %><% if (page.categories.length != 0) { %> in <% } %></time>
				<% page.categories.forEach(function(category, index) { %><a href="<%- url_for(category.path) %>"><%= category.name %><% if (index !== page.categories.length - 1) { %> / <% } %></a><% }); %>
				<% if (theme.valine.enable) { %>
				with <a id="page-title-comment" href="#vcomments"></a>
				<% } %>
				<div class="post-header-thumb-meta" style="font-size: 13px;">
					<span class="post-count">本文字数：<%= wordcount(page.content) %> 字</span>
					<span>|</span>
					<span class="post-count">阅读时长 ≈ <%= min2read(page.content) %> min</span>
				</div>
			</div>
			<div class="post-tags">
				<% if (page.tags.length != 0) { %>
				<% page.tags.forEach(function(tag){ %>
                <a href="<%- url_for(tag.path) %>"><%= tag.name %></a>
                <% }); %>
				<% } %>
			</div>
		</div>
	</div>
</div>
<% } %>
<% } %>
<article class="main-content <% if (theme.showPostThumb) { %>post-page<% } else { %>page-page<% } %>" itemscope itemtype="http://schema.org/Article">
	<div class="post-header">
		<h1 class="post-title" itemprop="name headline">
			<%= page.title %>
		</h1>
		<div class="post-data">
			<% if (theme.valine.enable && theme.valine.visitor) { %>
			<span id="<%- url_for(page.path) %>" class="leancloud-visitors" data-flag-title="<%= page.title %>">
				<span class="leancloud-visitors-count">0</span> Views 
			</span>
			<% } %>
            <time datetime="<%= page.date.unix() %>" itemprop="datePublished">Published on <%- page.date.format('MMM DD, YYYY') %><% if (page.categories.length != 0) { %> in <% } %></time><% page.categories.forEach(function(category, index) { %><a href="<%- url_for(category.path) %>"><%= category.name %><% if (index !== page.categories.length - 1) { %> / <% } %></a><% }); %>
			<% if (theme.valine.enable) { %>
			with <a id="page-title-comment" href="#vcomments"></a>
			<% } %>
			<div style="font-size: 13px;">
				<span class="post-count">本文字数：<%= wordcount(page.content) %> 字</span>
				<span>|</span>
				<span class="post-count">阅读时长 ≈ <%= min2read(page.content) %> min</span>
			</div>
		</div>
	</div>
	<div id="post-content" class="post-content" itemprop="articleBody">
		<p class="post-tags">
            <% if (page.tags.length != 0) { %>
            <% page.tags.forEach(function(tag){ %>
            <a href="<%- url_for(tag.path) %>"><%= tag.name %></a>
            <% }); %>
            <% } %>
        </p>
		<%- replaceImg(page.content) %>
		<% if (theme.reward.enable) { %>
		<div style="text-align: center; margin: 20px 0;">
			<p><%= theme.reward.text %></p>
			<button id="reward-button" disable="enable" onclick='var qr=document.getElementById("QR");"none"===qr.style.display?qr.style.display="block":qr.style.display="none"'><span>打赏</span></button>
			<div id="QR" style="display: none;">
				<div id="wechat" style="display: inline-block;">
					<img src="<%= theme.reward.wechat %>" alt="微信支付" id="wechat-qr">
					<p>微信支付</p>
				</div>
				<div id="alipay" style="display: inline-block;">
					<img src="<%= theme.reward.alipay %>" alt="支付宝" id="alipay-qr">
					<p>支付宝</p>
				</div>
			</div>
		</div>
		<% } %>
		<% if (theme.music.enable) { %>
		<meting-js
			id="<%= theme.music.id %>"
			server="<%= theme.music.server %>"
			type="<%= theme.music.type %>"
			auto="<%= theme.music.auto %>"
			autoplay="<%= theme.music.autoplay %>"
			>
		</meting-js>
		<% } %>
		<p class="post-info">
			本文由 <a href="<%= config.url %>"><%= config.author %></a> 创作，采用 <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="external nofollow">知识共享署名4.0</a> 国际许可协议进行许可<br>本站文章除注明转载/出处外，均为本站原创或翻译，转载前请务必署名<br>最后编辑时间为: <%= page.updated.format('MMM DD, YYYY hh:mm a') %>
		</p>
	</div>
</article>
<div id="post-bottom-bar" class="post-bottom-bar">
	<div class="bottom-bar-inner">
		<div class="bottom-bar-items social-share left">
			<span class="bottom-bar-item">Share : </span>
			<span class="bottom-bar-item bottom-bar-facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=<%= url %>" target="_blank" title="<%= page.title %>" rel="nofollow">facebook</a></span>
			<span class="bottom-bar-item bottom-bar-twitter"><a href="https://twitter.com/intent/tweet?url=<%= page.permalink %>&text=<%= page.title %>" target="_blank" title="<%= page.title %>" rel="nofollow">Twitter</a></span>
			<span class="bottom-bar-item bottom-bar-weibo"><a href="http://service.weibo.com/share/share.php?url=<%= page.link %>&amp;title=<%= page.title %>" target="_blank" title="<%= page.title %>" rel="nofollow">Weibo</a></span>
			<span class="bottom-bar-item bottom-bar-qrcode"><a href="//pan.baidu.com/share/qrcode?w=300&amp;h=300&amp;url=<%= url %>" target="_blank" rel="nofollow">QRcode</a></span>
		</div>
		<div class="bottom-bar-items right">
            <% if (page.prev) { %>
            <span class="bottom-bar-item"><a href="<%- url_for(page.prev.path) %>">←</a></span>
            <% } %>
            <% if (page.next) { %>
            <span class="bottom-bar-item"><a href="<%- url_for(page.next.path) %>">→</a></span>
            <% } %>
			<span class="bottom-bar-item"><a href="#footer">↓</a></span>
			<span class="bottom-bar-item"><a href="#top">↑</a></span>
		</div>
	</div>
</div>

<% if (theme.relatedPosts.enable && relatedPosts(page, theme.relatedPosts.limit).length != 0) { %>
<div class="related-post-lists">
	<div class="post-lists">
		<div class="post-lists-body">
		<% relatedPosts(page, theme.relatedPosts.limit).forEach(function(relatedPost){ %>
			<div class="post-list-item">
				<div class="post-list-item-container">
					<div class="item-label">
						<div class="item-title"><a href="<%= url_for(relatedPost.path) %>"><%= relatedPost.title %></a></div>
						<div class="item-meta clearfix">
							<div class="item-meta-date" style="color: #5f5f5f;"><%= relatedPost.date.format('MMM DD, YYYY') %></div>
							<div class="item-meta-ico <%= getPostIcon(relatedPost.icon) %>" style="background: url(/images/bg-ico.png) no-repeat;background-size: 40px auto;"></div>
                            <div class="item-meta-cat">
                                <% relatedPost.categories.forEach(function(category) { %>
                                <a href="<%- url_for(category.path) %>"><%= category.name %></a>
                                <% }); %>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		<% }); %>
		</div>
	</div>
</div>
<% } %>

<% if (theme.valine.enable) { %>
<div class="comment-container">
	<div id="vcomments"></div>
</div>
<% } %>

<%- partial('_partial/footer') %>