<%- partial('_partial/header', { 
    title: '标签', 
    bgColor: 'bg-grey'
}) %>

<div class="main-content page-page">
    <div class="search-page">
        <div class="search-title">
            <h1><%= __('tags.title') %></h1>
            <h4><%= __('tags.count', site.tags.count()) %></h4>
        </div>
        <div class="search-tags">
        <% if (site.tags.length !== 0) { %>
            <% site.tags.sort('-posts.length').forEach(function(tag) { %>
            <a href="<%- url_for(tag.path) %>" class="<% if (theme.colorBgPosts) { %>text-white <% } %><%= getPostBgColor(theme.colorBgPosts, tag.color, 'white') %>"># <%= tag.name %>(<%= tag.posts.count() %>)</a>
            <% }); %>
        <% } else { %>
            <p> Nothing here ! </p>
        <% } %>
            <div class="search-tags-hr <%= getPostBgColor(theme.colorBgPosts, '', 'deepgrey') %>"></div>
        </div>
    </div>
</div>

<%- partial('_partial/footer') %>